{% extends 'blog/base.html' %}
{% block main_area %}
    {% if user.is_authenticated %}
        {% if user.is_staff or user.is_superuser %}
            <a class="btn btn-info btn-small float-right" href="/blog/create_post">
                <i class="fas fa-pen"></i>New Post
            </a> <!-- class="btn" : button 형태  float-right : 오른쪽에 배치  fas fa-pen : 펜 모양 아이콘(fontawesome) -->
        {% endif %}
    {% endif %}

          <h1>
              Blog
              {% if category %} <span class="badge bg-secondary">{{category}}</span>{% endif %} <!-- Blog만 출력되거나, Blog 뒤에 category 이름이 함께 출력되어서 카테고리 페이지로 두 가지 페이지로 사용할 수 있다 -->
              {% if tag %} <i class="fas fa-tags"></i><span class="badge bg-light">{{tag}}({{tag.post_set.count}})</span>{% endif %} <!-- 태그 페이지 -->
          </h1>
          {% if post_list.exists %}
          {% for p in post_list %}
          <!-- Blog post-->
          <div class="card mb-4" id="post-{{p.pk}}">
            {% if p.head_image %}
                <img class="card-img-top" src="{{ p.head_image.url }}" alt="{{p}}의 head image" />
            {% else %}
                <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/800/200"
                    alt="random image" />
            {% endif %}
            <div class="card-body">
                {% if p.category %} <!-- p에 있는 category는 Post 데이터에 대한 category, 이 페이지 전체에 적용되고 있는 category가 무엇인지에 대한 값을 의미하고 있는 게 아니다 -->
                    <span class="badge bg-secondary float-right">{{p.category}}</span>
                {% else %}
                    <span class="badge bg-secondary float-right">미분류</span>
                {% endif %}
                <h2 class="card-title h4">{{ p.title | upper }}</h2> <!-- lower : 소문자, upper : 대문자 -->
                {% if p.hook_text %}
                    <h5 class="text-muted"> {{ p.hook_text }} </h5>
                {% endif %}
                <p class="card-text">{{ p.content | truncatechars:100 }}</p> <!-- truncatewords:45 --> <!-- truncatewords : 단어 수, truncatechars : 글자 수 -->
                {% if p.tags.exists %}
                    <i class="fas fa-tags"></i> <!-- fontawesome에서 icon 추가 -->
                    {% for tag in p.tags.all %}
                        <a href="{{tag.get_absolute_url}}"><span class="badge bg-light">{{tag}}</span></a>
                    {% endfor %}
                    <br/><br/>
                {% endif %}
                <a class="btn btn-primary" href="{{ p.get_absolute_url }}">Read more →</a> <!-- 상세 페이지로 이동 -->
            </div>
            <div class="card-footer">
                <div class="small text-muted">{{ p.created_at | date:"20y-m-d h:m:s" }} by {{ p.author | upper }}</div>
            </div>
          </div>
          {% endfor %}
          {% else %}
            <h2>아직 게시물이 없습니다.</h2>
          {% endif %}
          <!-- Pagination-->
            <ul class="pagination justify-content-center my-4">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">&larr; Newer</a></li>
                <li class="page-item"><a class="page-link" href="#!">Older &rarr;</a></li>
            </ul>
        </div>
{% endblock %}