{% extends 'blog/base_full_width.html' %} <!-- base.html : 한 쪽에 form, 한 쪽에는 Search와 Categroy --> <!-- base_full_width.html : Search와 Category 없이 form이 grid 전부 차지 -->

{% block head_title %}Create Post - Blog{% endblock %}
{% block main_area %}
    <h1>Create New Post</h1>
    <hr /> <!-- 수평선 -->
    <form method="post" enctype="multipart/form-data"> <!-- action에 대한 부분은 django 자체에서 해결해 주므로 별도로 action 속성을 넣을 필요 없다 -->
        {% csrf_token %} <!-- django인 경우, form에 대해서 csrf라고 하는 공격으로부터 보호해 준다 반드시 넣어 줘야 한다 -->
        <table>
            {{form}}
        </table>
        <button type="submit" class="btn btn-primary float-right">Submit</button>
    </form>
{% endblock %}